#app {
  margin: 0 auto;
  font-weight: normal;
}

#menu {
  padding-top: 20px;
  padding-bottom: 20px;
}

#containerlogin{

  width: 500px;
  margin: auto;
  margin-top: 50px;
  border: 1px solid skyblue;
  padding: 15px;
  border-radius: 5px;
}

.icone{
  padding: 5px;
}




